/* Navbar all businesses */
.bc-header-full-width {
    background-color: #42A7DF;
}

.add-business-nav {
    background-color: #333;
    border: 1px solid #333;
}

a.all-nav, .add-business-nav, .button-text{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1rem;
}

