<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/addbusiness.css">

<main class="container d-flex flex-column register-spacing">
    <div class="container justify-content-center align-items-center mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center">Register</h2>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3 mt-4">
                                <label class="form-label" for="regUsername">Username <span class="required-label">*</span></label>
                                <input class="form-control" type="text" id="regUsername" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email <span class="required-label">*</span></label>
                                <input class="form-control" type="email id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="regPassword">Password <span class="required-label">*</span></label>
                                <input class="form-control" type="password" id="regPassword" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2 mb-4">
                                <button class="btn loggin-register-btn">Register</button>
                            </div>
                        </form>
                        <div>
                            <a href="/login" class="sign-up-link">Already have an account? Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>       
